header { 
  background-color:#ffeb3b;
}
main {
  background-color:#fffbd8;
}
nav {
  background-color:#fffef3;
}
div {
  background-color:#fff38b;
}
p {
  background-color:#fff7b1;
}
hover {
  background-color:#ddc700;
}
